@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00a2e2;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;

}

.loginContainer{
 display: flex;
 padding: 2em;
 flex-direction: column;
 max-width: fit-content;
 margin: auto;
 min-height: 50em;
  
 align-self:center; 
 justify-content: center;
background-color: #00a2e2;
  
  
  
}

.mainContainer{
  display: flex;
 padding: 2em;
 flex-direction: column;
 max-width: fit-content;
 margin: auto;
 min-height: 50em;
  
 align-self:center; 
 justify-content: center;
background-color: #00a2e2;
}

.projNameTitle{
  font-size: 1.6em;
}


input{
  background-color: white;
  color: black;
}



