.singleColumn{
    display: grid;
    
    grid-template-rows: 1fr 8fr;
    background-color: red;
    
    min-height: 50em;  
    

}

.allColumns{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px; /* space between columns */
    background-color: orange;
    padding: 10px;
    min-height: 300px;
    
}

.colTitle{
    display: grid;
    place-items: center;
}